<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>moregale</fullName>
  <description></description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>Daebwe:7c973a59e519e1cefe9980f14167754f1f66424d2d29b0204aa69d411f2e683e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.20">
      <score>0.0</score>
      <isNotParticipatingInGame>true</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.25"/>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>8obzBqIhASgJLcebWfmXfq0AhI44Nubu1yREqOslaV6aTo4YgslF9IL/1JVZ/wsc</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.25"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.plugins.skype.user.SkypeUserProperty plugin="skype-notifier@1.1.0"/>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.16.1">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>alex.morega@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>