<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>EEA Converter build on a clean Plone 4 instance</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.redmine.RedmineProjectProperty plugin="redmine@0.15">
      <projectName>zope</projectName>
    </hudson.plugins.redmine.RedmineProjectProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.11">
      <projectUrl>http://github.com/collective/eea.converter/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.queueSorter.PrioritySorterJobProperty plugin="PrioritySorter@2.9">
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.28"/>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.25"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/collective/eea.converter.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/collective/eea.converter/</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PerBuildTag/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.11">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}/buildouts/plone4
./install.sh
bin/buildout</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}/buildouts/plone4
bin/test -v -vv -s eea.converter</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.15">
      <recipients>eea-github@googlegroups.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.jabber.im.transport.JabberPublisher plugin="jabber@1.34">
      <targets>
        <hudson.plugins.im.DefaultIMMessageTarget plugin="instant-messaging@1.33">
          <value>alin@jabber.eaudeweb.ro</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
        <hudson.plugins.im.DefaultIMMessageTarget plugin="instant-messaging@1.33">
          <value>zoltan@jabber.eaudeweb.ro</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
      </targets>
      <strategy>FAILURE_AND_FIXED</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier" plugin="instant-messaging@1.33"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
    </hudson.plugins.jabber.im.transport.JabberPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>eea.converter-zope,eea.converter-sync</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14.1">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>30</timeoutMinutes>
      </strategy>
      <operationList class="java.util.Arrays$ArrayList">
        <a class="hudson.plugins.build_timeout.BuildTimeOutOperation-array">
          <hudson.plugins.build__timeout.operations.AbortOperation/>
        </a>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>