<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>razvanchitu</fullName>
  <description>@ Eau de Web</description>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>qEO4wFdSV+QfZhLTjHOnrpcWz8k7grbfPWag0gFqK/PHdZHZwdymb66wgm2UIKy0</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.14">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.21">
      <score>717.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
      <scoreHistoryEntries class="linked-list">
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>-2.0</score>
          <accountableRuns>
            <run>Products.EEAPloneAdmin-www#102</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.themecentre-www#66</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.indicators-www#82</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.workflow-www#66</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.vocab-www#62</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.translations-www#64</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.sparql-www#73</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.sitestructurediff-www#64</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.tags-www#63</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#82</run>
            <run>eea.soercontent-www#73</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
      </scoreHistoryEntries>
    </hudson.plugins.cigame.UserScoreProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>razvan.chitu@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.34"/>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>