<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.434</version>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:demarant</permission>
    <permission>hudson.model.Computer.Configure:ghicaale</permission>
    <permission>hudson.model.Computer.Configure:ichimdav</permission>
    <permission>hudson.model.Computer.Configure:roug</permission>
    <permission>hudson.model.Computer.Configure:szabozo0</permission>
    <permission>hudson.model.Computer.Configure:tiberich</permission>
    <permission>hudson.model.Computer.Configure:voineali</permission>
    <permission>hudson.model.Computer.Delete:batradav</permission>
    <permission>hudson.model.Computer.Delete:ciobabog</permission>
    <permission>hudson.model.Computer.Delete:demarant</permission>
    <permission>hudson.model.Computer.Delete:ghicaale</permission>
    <permission>hudson.model.Computer.Delete:ichimdav</permission>
    <permission>hudson.model.Computer.Delete:roug</permission>
    <permission>hudson.model.Computer.Delete:szabozo0</permission>
    <permission>hudson.model.Computer.Delete:tiberich</permission>
    <permission>hudson.model.Computer.Delete:voineali</permission>
    <permission>hudson.model.Hudson.Administer:demarant</permission>
    <permission>hudson.model.Hudson.Administer:ghicaale</permission>
    <permission>hudson.model.Hudson.Administer:ichimdav</permission>
    <permission>hudson.model.Hudson.Administer:roug</permission>
    <permission>hudson.model.Hudson.Administer:tiberich</permission>
    <permission>hudson.model.Hudson.Administer:voineali</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:batradav</permission>
    <permission>hudson.model.Hudson.Read:ciobabog</permission>
    <permission>hudson.model.Hudson.Read:demarant</permission>
    <permission>hudson.model.Hudson.Read:ghicaale</permission>
    <permission>hudson.model.Hudson.Read:heinlja</permission>
    <permission>hudson.model.Hudson.Read:ichimdav</permission>
    <permission>hudson.model.Hudson.Read:roug</permission>
    <permission>hudson.model.Hudson.Read:tiberich</permission>
    <permission>hudson.model.Hudson.Read:voineali</permission>
    <permission>hudson.model.Item.Build:batradav</permission>
    <permission>hudson.model.Item.Build:ciobabog</permission>
    <permission>hudson.model.Item.Build:demarant</permission>
    <permission>hudson.model.Item.Build:ghicaale</permission>
    <permission>hudson.model.Item.Build:heinlja</permission>
    <permission>hudson.model.Item.Build:ichimdav</permission>
    <permission>hudson.model.Item.Build:roug</permission>
    <permission>hudson.model.Item.Build:szabozo0</permission>
    <permission>hudson.model.Item.Build:tiberich</permission>
    <permission>hudson.model.Item.Build:voineali</permission>
    <permission>hudson.model.Item.Configure:batradav</permission>
    <permission>hudson.model.Item.Configure:ciobabog</permission>
    <permission>hudson.model.Item.Configure:demarant</permission>
    <permission>hudson.model.Item.Configure:ghicaale</permission>
    <permission>hudson.model.Item.Configure:heinlja</permission>
    <permission>hudson.model.Item.Configure:ichimdav</permission>
    <permission>hudson.model.Item.Configure:roug</permission>
    <permission>hudson.model.Item.Configure:szabozo0</permission>
    <permission>hudson.model.Item.Configure:tiberich</permission>
    <permission>hudson.model.Item.Configure:voineali</permission>
    <permission>hudson.model.Item.Create:batradav</permission>
    <permission>hudson.model.Item.Create:ciobabog</permission>
    <permission>hudson.model.Item.Create:demarant</permission>
    <permission>hudson.model.Item.Create:ghicaale</permission>
    <permission>hudson.model.Item.Create:heinlja</permission>
    <permission>hudson.model.Item.Create:ichimdav</permission>
    <permission>hudson.model.Item.Create:roug</permission>
    <permission>hudson.model.Item.Create:szabozo0</permission>
    <permission>hudson.model.Item.Create:tiberich</permission>
    <permission>hudson.model.Item.Create:voineali</permission>
    <permission>hudson.model.Item.Delete:batradav</permission>
    <permission>hudson.model.Item.Delete:ciobabog</permission>
    <permission>hudson.model.Item.Delete:demarant</permission>
    <permission>hudson.model.Item.Delete:ghicaale</permission>
    <permission>hudson.model.Item.Delete:heinlja</permission>
    <permission>hudson.model.Item.Delete:ichimdav</permission>
    <permission>hudson.model.Item.Delete:roug</permission>
    <permission>hudson.model.Item.Delete:szabozo0</permission>
    <permission>hudson.model.Item.Delete:tiberich</permission>
    <permission>hudson.model.Item.Delete:voineali</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:batradav</permission>
    <permission>hudson.model.Item.Read:ciobabog</permission>
    <permission>hudson.model.Item.Read:demarant</permission>
    <permission>hudson.model.Item.Read:ghicaale</permission>
    <permission>hudson.model.Item.Read:heinlja</permission>
    <permission>hudson.model.Item.Read:ichimdav</permission>
    <permission>hudson.model.Item.Read:roug</permission>
    <permission>hudson.model.Item.Read:szabozo0</permission>
    <permission>hudson.model.Item.Read:tiberich</permission>
    <permission>hudson.model.Item.Read:voineali</permission>
    <permission>hudson.model.Item.Release:batradav</permission>
    <permission>hudson.model.Item.Release:ciobabog</permission>
    <permission>hudson.model.Item.Release:demarant</permission>
    <permission>hudson.model.Item.Release:ghicaale</permission>
    <permission>hudson.model.Item.Release:heinlja</permission>
    <permission>hudson.model.Item.Release:ichimdav</permission>
    <permission>hudson.model.Item.Release:roug</permission>
    <permission>hudson.model.Item.Release:szabozo0</permission>
    <permission>hudson.model.Item.Release:tiberich</permission>
    <permission>hudson.model.Item.Release:voineali</permission>
    <permission>hudson.model.Item.Workspace:demarant</permission>
    <permission>hudson.model.Item.Workspace:ghicaale</permission>
    <permission>hudson.model.Item.Workspace:heinlja</permission>
    <permission>hudson.model.Item.Workspace:ichimdav</permission>
    <permission>hudson.model.Item.Workspace:roug</permission>
    <permission>hudson.model.Item.Workspace:tiberich</permission>
    <permission>hudson.model.Item.Workspace:voineali</permission>
    <permission>hudson.model.Run.Delete:batradav</permission>
    <permission>hudson.model.Run.Delete:ciobabog</permission>
    <permission>hudson.model.Run.Delete:demarant</permission>
    <permission>hudson.model.Run.Delete:ghicaale</permission>
    <permission>hudson.model.Run.Delete:heinlja</permission>
    <permission>hudson.model.Run.Delete:ichimdav</permission>
    <permission>hudson.model.Run.Delete:roug</permission>
    <permission>hudson.model.Run.Delete:szabozo0</permission>
    <permission>hudson.model.Run.Delete:tiberich</permission>
    <permission>hudson.model.Run.Delete:voineali</permission>
    <permission>hudson.model.Run.Update:batradav</permission>
    <permission>hudson.model.Run.Update:ciobabog</permission>
    <permission>hudson.model.Run.Update:demarant</permission>
    <permission>hudson.model.Run.Update:ghicaale</permission>
    <permission>hudson.model.Run.Update:heinlja</permission>
    <permission>hudson.model.Run.Update:ichimdav</permission>
    <permission>hudson.model.Run.Update:roug</permission>
    <permission>hudson.model.Run.Update:szabozo0</permission>
    <permission>hudson.model.Run.Update:tiberich</permission>
    <permission>hudson.model.Run.Update:voineali</permission>
    <permission>hudson.model.View.Configure:batradav</permission>
    <permission>hudson.model.View.Configure:ciobabog</permission>
    <permission>hudson.model.View.Configure:demarant</permission>
    <permission>hudson.model.View.Configure:ghicaale</permission>
    <permission>hudson.model.View.Configure:heinlja</permission>
    <permission>hudson.model.View.Configure:ichimdav</permission>
    <permission>hudson.model.View.Configure:roug</permission>
    <permission>hudson.model.View.Configure:tiberich</permission>
    <permission>hudson.model.View.Configure:voineali</permission>
    <permission>hudson.model.View.Create:demarant</permission>
    <permission>hudson.model.View.Create:ghicaale</permission>
    <permission>hudson.model.View.Create:ichimdav</permission>
    <permission>hudson.model.View.Create:roug</permission>
    <permission>hudson.model.View.Create:szabozo0</permission>
    <permission>hudson.model.View.Create:tiberich</permission>
    <permission>hudson.model.View.Create:voineali</permission>
    <permission>hudson.model.View.Delete:demarant</permission>
    <permission>hudson.model.View.Delete:ghicaale</permission>
    <permission>hudson.model.View.Delete:ichimdav</permission>
    <permission>hudson.model.View.Delete:roug</permission>
    <permission>hudson.model.View.Delete:szabozo0</permission>
    <permission>hudson.model.View.Delete:tiberich</permission>
    <permission>hudson.model.View.Delete:voineali</permission>
    <permission>hudson.scm.SCM.Tag:demarant</permission>
    <permission>hudson.scm.SCM.Tag:ghicaale</permission>
    <permission>hudson.scm.SCM.Tag:ichimdav</permission>
    <permission>hudson.scm.SCM.Tag:roug</permission>
    <permission>hudson.scm.SCM.Tag:tiberich</permission>
    <permission>hudson.scm.SCM.Tag:voineali</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm">
    <server>ldap3.eionet.europa.eu</server>
    <rootDN>ou=Users,o=Eionet,l=Europe</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase></userSearchBase>
    <userSearch>uid={0}</userSearch>
  </securityRealm>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>Welcome to Continuous Integration Testing site for European Environment Agency (EEA, www.eea.europa.eu)</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>jdk50</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-1.5.0_22-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk6</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u22-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone EEA Buildouts</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>community.eea.europa.eu</string>
        <string>eea-buildout-devel</string>
        <string>eea-buildout-hudson-trigger</string>
        <string>eea-buildout-pre-production</string>
        <string>www.eea.europa.eu-devel</string>
        <string>www.eea.europa.eu-hudson</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>false</showColor>
          <showDescription>false</showDescription>
          <showLastBuild>false</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
        <hudson.plugins.CronViewColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Java</name>
      <description>Java applications</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>CR2</string>
        <string>CR3</string>
        <string>DATADICT</string>
        <string>EUNIS</string>
        <string>ROD</string>
        <string>Sparql Client</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>false</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
        <hudson.plugins.CronViewColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>DATADICT</string>
        <string>eea.mediacentre-www</string>
        <string>Sparql Client</string>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <id>dashboard_portlet_26</id>
          <name>Unstable Jobs</name>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_27</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_28</id>
          <name>Latest builds</name>
          <numBuilds>70</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_29</id>
          <name>Compiler warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_30</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_31</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone EEA Documentation</name>
      <description>API Documentation for EEA packages</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>EEA Plone 4 API Documentation</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn>
          <colorblindHint>nohint</colorblindHint>
          <showColor>false</showColor>
          <showDescription>false</showDescription>
          <showLastBuild>false</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn>
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <hudson.views.LastDurationColumn/>
        <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
        <hudson.plugins.CronViewColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>^.+Documentation$</includeRegex>
    </listView>
    <hudson.plugins.iphoneview.IPhoneView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone EEA Mobile View</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>.*-www</includeRegex>
    </hudson.plugins.iphoneview.IPhoneView>
    <hudson.plugins.nested__view.NestedView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 2</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <views>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>EEA</name>
          <description>EEA Plone 2 builds</description>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.iphoneview.IPhoneView/jobNames/comparator"/>
            <string>community.eea.europa.eu</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.plugins.favorite.column.FavoriteColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <com.robestone.hudson.compactcolumns.JobNameColorColumn>
              <colorblindHint>nohint</colorblindHint>
              <showColor>false</showColor>
              <showDescription>true</showDescription>
              <showLastBuild>true</showLastBuild>
            </com.robestone.hudson.compactcolumns.JobNameColorColumn>
            <com.robestone.hudson.compactcolumns.AllStatusesColumn>
              <colorblindHint>nohint</colorblindHint>
              <timeAgoTypeString>DIFF</timeAgoTypeString>
              <onlyShowLastStatus>false</onlyShowLastStatus>
              <hideDays>0</hideDays>
            </com.robestone.hudson.compactcolumns.AllStatusesColumn>
            <hudson.views.LastDurationColumn/>
            <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
            <hudson.plugins.CronViewColumn/>
            <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <includeRegex>[eea|Products|valentine].[^\-]+</includeRegex>
          <statusFilter>true</statusFilter>
        </listView>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>Clean</name>
          <description>Builds on a clean Plone 2 installation</description>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.iphoneview.IPhoneView/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.plugins.favorite.column.FavoriteColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <com.robestone.hudson.compactcolumns.JobNameColorColumn>
              <colorblindHint>nohint</colorblindHint>
              <showColor>false</showColor>
              <showDescription>true</showDescription>
              <showLastBuild>true</showLastBuild>
            </com.robestone.hudson.compactcolumns.JobNameColorColumn>
            <com.robestone.hudson.compactcolumns.AllStatusesColumn>
              <colorblindHint>nohint</colorblindHint>
              <timeAgoTypeString>DIFF</timeAgoTypeString>
              <onlyShowLastStatus>false</onlyShowLastStatus>
              <hideDays>0</hideDays>
            </com.robestone.hudson.compactcolumns.AllStatusesColumn>
            <hudson.views.LastDurationColumn/>
            <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
            <hudson.plugins.CronViewColumn/>
            <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <includeRegex>^.*-plone2$</includeRegex>
        </listView>
      </views>
      <defaultView>EEA</defaultView>
    </hudson.plugins.nested__view.NestedView>
    <hudson.plugins.nested__view.NestedView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 3</name>
      <description>Plone 3 buildouts</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <views>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>Clean</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.iphoneview.IPhoneView/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.plugins.favorite.column.FavoriteColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <com.robestone.hudson.compactcolumns.JobNameColorColumn>
              <colorblindHint>nohint</colorblindHint>
              <showColor>false</showColor>
              <showDescription>true</showDescription>
              <showLastBuild>true</showLastBuild>
            </com.robestone.hudson.compactcolumns.JobNameColorColumn>
            <com.robestone.hudson.compactcolumns.AllStatusesColumn>
              <colorblindHint>nohint</colorblindHint>
              <timeAgoTypeString>DIFF</timeAgoTypeString>
              <onlyShowLastStatus>false</onlyShowLastStatus>
              <hideDays>0</hideDays>
            </com.robestone.hudson.compactcolumns.AllStatusesColumn>
            <hudson.views.LastDurationColumn/>
            <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
            <hudson.plugins.CronViewColumn/>
            <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <includeRegex>^.*-plone3$</includeRegex>
        </listView>
      </views>
      <defaultView>Clean</defaultView>
    </hudson.plugins.nested__view.NestedView>
    <hudson.plugins.nested__view.NestedView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 4</name>
      <description>Plone 4 buildouts</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <views>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>EEA</name>
          <description>Jobs that use www.eea.europa.eu buildout</description>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.iphoneview.IPhoneView/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.plugins.favorite.column.FavoriteColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <com.robestone.hudson.compactcolumns.JobNameColorColumn>
              <colorblindHint>nohint</colorblindHint>
              <showColor>false</showColor>
              <showDescription>false</showDescription>
              <showLastBuild>false</showLastBuild>
            </com.robestone.hudson.compactcolumns.JobNameColorColumn>
            <com.robestone.hudson.compactcolumns.AllStatusesColumn>
              <colorblindHint>nohint</colorblindHint>
              <timeAgoTypeString>DIFF</timeAgoTypeString>
              <onlyShowLastStatus>false</onlyShowLastStatus>
              <hideDays>0</hideDays>
            </com.robestone.hudson.compactcolumns.AllStatusesColumn>
            <hudson.views.LastDurationColumn/>
            <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
            <hudson.plugins.CronViewColumn/>
            <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <includeRegex>^.+\-www$</includeRegex>
        </listView>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>Clean</name>
          <description>Builds on a clean Plone 4  installation</description>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.iphoneview.IPhoneView/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.plugins.favorite.column.FavoriteColumn/>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <com.robestone.hudson.compactcolumns.JobNameColorColumn>
              <colorblindHint>nohint</colorblindHint>
              <showColor>false</showColor>
              <showDescription>true</showDescription>
              <showLastBuild>true</showLastBuild>
            </com.robestone.hudson.compactcolumns.JobNameColorColumn>
            <com.robestone.hudson.compactcolumns.AllStatusesColumn>
              <colorblindHint>nohint</colorblindHint>
              <timeAgoTypeString>DIFF</timeAgoTypeString>
              <onlyShowLastStatus>false</onlyShowLastStatus>
              <hideDays>0</hideDays>
            </com.robestone.hudson.compactcolumns.AllStatusesColumn>
            <hudson.views.LastDurationColumn/>
            <hudson.plugins.nextexecutions.columns.NextExecutionColumn/>
            <hudson.plugins.CronViewColumn/>
            <org.jenkins.ci.plugins.column.console.LastBuildColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <includeRegex>.*-plone4</includeRegex>
        </listView>
      </views>
      <defaultView>EEA</defaultView>
    </hudson.plugins.nested__view.NestedView>
  </views>
  <primaryView>Dashboard</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>