<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.390</version>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:demarant</permission>
    <permission>hudson.model.Computer.Configure:ghicaale</permission>
    <permission>hudson.model.Computer.Configure:roug</permission>
    <permission>hudson.model.Computer.Configure:tiberich</permission>
    <permission>hudson.model.Computer.Configure:voineali</permission>
    <permission>hudson.model.Computer.Delete:demarant</permission>
    <permission>hudson.model.Computer.Delete:ghicaale</permission>
    <permission>hudson.model.Computer.Delete:roug</permission>
    <permission>hudson.model.Computer.Delete:tiberich</permission>
    <permission>hudson.model.Computer.Delete:voineali</permission>
    <permission>hudson.model.Hudson.Administer:demarant</permission>
    <permission>hudson.model.Hudson.Administer:ghicaale</permission>
    <permission>hudson.model.Hudson.Administer:roug</permission>
    <permission>hudson.model.Hudson.Administer:tiberich</permission>
    <permission>hudson.model.Hudson.Administer:voineali</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:demarant</permission>
    <permission>hudson.model.Hudson.Read:ghicaale</permission>
    <permission>hudson.model.Hudson.Read:roug</permission>
    <permission>hudson.model.Hudson.Read:tiberich</permission>
    <permission>hudson.model.Hudson.Read:voineali</permission>
    <permission>hudson.model.Item.Build:demarant</permission>
    <permission>hudson.model.Item.Build:ghicaale</permission>
    <permission>hudson.model.Item.Build:roug</permission>
    <permission>hudson.model.Item.Build:tiberich</permission>
    <permission>hudson.model.Item.Build:voineali</permission>
    <permission>hudson.model.Item.Configure:demarant</permission>
    <permission>hudson.model.Item.Configure:ghicaale</permission>
    <permission>hudson.model.Item.Configure:roug</permission>
    <permission>hudson.model.Item.Configure:tiberich</permission>
    <permission>hudson.model.Item.Configure:voineali</permission>
    <permission>hudson.model.Item.Create:demarant</permission>
    <permission>hudson.model.Item.Create:ghicaale</permission>
    <permission>hudson.model.Item.Create:roug</permission>
    <permission>hudson.model.Item.Create:tiberich</permission>
    <permission>hudson.model.Item.Create:voineali</permission>
    <permission>hudson.model.Item.Delete:demarant</permission>
    <permission>hudson.model.Item.Delete:ghicaale</permission>
    <permission>hudson.model.Item.Delete:roug</permission>
    <permission>hudson.model.Item.Delete:tiberich</permission>
    <permission>hudson.model.Item.Delete:voineali</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:demarant</permission>
    <permission>hudson.model.Item.Read:ghicaale</permission>
    <permission>hudson.model.Item.Read:roug</permission>
    <permission>hudson.model.Item.Read:tiberich</permission>
    <permission>hudson.model.Item.Read:voineali</permission>
    <permission>hudson.model.Item.Workspace:demarant</permission>
    <permission>hudson.model.Item.Workspace:ghicaale</permission>
    <permission>hudson.model.Item.Workspace:roug</permission>
    <permission>hudson.model.Item.Workspace:tiberich</permission>
    <permission>hudson.model.Item.Workspace:voineali</permission>
    <permission>hudson.model.Run.Delete:demarant</permission>
    <permission>hudson.model.Run.Delete:ghicaale</permission>
    <permission>hudson.model.Run.Delete:roug</permission>
    <permission>hudson.model.Run.Delete:tiberich</permission>
    <permission>hudson.model.Run.Delete:voineali</permission>
    <permission>hudson.model.Run.Update:demarant</permission>
    <permission>hudson.model.Run.Update:ghicaale</permission>
    <permission>hudson.model.Run.Update:roug</permission>
    <permission>hudson.model.Run.Update:tiberich</permission>
    <permission>hudson.model.Run.Update:voineali</permission>
    <permission>hudson.model.View.Configure:demarant</permission>
    <permission>hudson.model.View.Configure:ghicaale</permission>
    <permission>hudson.model.View.Configure:roug</permission>
    <permission>hudson.model.View.Configure:tiberich</permission>
    <permission>hudson.model.View.Configure:voineali</permission>
    <permission>hudson.model.View.Create:demarant</permission>
    <permission>hudson.model.View.Create:ghicaale</permission>
    <permission>hudson.model.View.Create:roug</permission>
    <permission>hudson.model.View.Create:tiberich</permission>
    <permission>hudson.model.View.Create:voineali</permission>
    <permission>hudson.model.View.Delete:demarant</permission>
    <permission>hudson.model.View.Delete:ghicaale</permission>
    <permission>hudson.model.View.Delete:roug</permission>
    <permission>hudson.model.View.Delete:tiberich</permission>
    <permission>hudson.model.View.Delete:voineali</permission>
    <permission>hudson.scm.SCM.Tag:demarant</permission>
    <permission>hudson.scm.SCM.Tag:ghicaale</permission>
    <permission>hudson.scm.SCM.Tag:roug</permission>
    <permission>hudson.scm.SCM.Tag:tiberich</permission>
    <permission>hudson.scm.SCM.Tag:voineali</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>Welcome to Continuous Integration Testing site for European Environment Agency (EEA, www.eea.europa.eu)</systemMessage>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 3.x clean</name>
      <description>Builds on a clean Plone 3 installation</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>eea.facetednavigation-plone3</string>
        <string>eea.geotags-plone3</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 4.x clean</name>
      <description>Builds on a clean Plone 4  installation</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>eea.facetednavigation-plone4</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 2.5 clean</name>
      <description>Builds on a clean Plone 2 installation</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>eea.facetednavigation-plone2</string>
        <string>eea.geotags-plone2</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone 2.5 EEA</name>
      <description>EEA Plone 2 builds</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>eea.alchemy</string>
        <string>eea.bounce</string>
        <string>eea.cache</string>
        <string>eea.dataservice</string>
        <string>eea.daviz</string>
        <string>eea.design</string>
        <string>eea.eggmonkey</string>
        <string>eea.epub</string>
        <string>eea.exhibit</string>
        <string>eea.faceted.inheritance</string>
        <string>eea.faceted.tool</string>
        <string>eea.faceted.vocabularies</string>
        <string>eea.facetednavigation</string>
        <string>eea.geotags</string>
        <string>eea.google</string>
        <string>eea.indicators</string>
        <string>eea.jquery</string>
        <string>eea.locationwidget</string>
        <string>eea.mediacentre</string>
        <string>eea.pagedesign</string>
        <string>eea.plone3compat</string>
        <string>eea.policy.dev</string>
        <string>eea.promotion</string>
        <string>eea.rdfmarshaller</string>
        <string>eea.rdfrepository</string>
        <string>eea.relations</string>
        <string>eea.reports</string>
        <string>eea.signals</string>
        <string>eea.sitestructurediff</string>
        <string>eea.socialmedia</string>
        <string>eea.soer</string>
        <string>eea.testcase</string>
        <string>eea.themecentre</string>
        <string>eea.translations</string>
        <string>eea.versions</string>
        <string>eea.vocab</string>
        <string>eea.workflow</string>
        <string>Products.EEAContentTypes</string>
        <string>Products.EEADesign2006</string>
        <string>Products.EEAEnquiry</string>
        <string>Products.EEAPloneAdmin</string>
        <string>Products.EEATemplatesService</string>
        <string>Products.PloneGazette</string>
        <string>valentine.gtranslate</string>
        <string>valentine.imagescales</string>
        <string>valentine.linguaflow</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Plone EEA Buildouts</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>eea-buildout-devel</string>
        <string>eea-buildout-hudson-trigger</string>
        <string>eea-buildout-pre-production</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Java</name>
      <description>Java applications</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[6]/jobNames/comparator"/>
        <string>EUNIS</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <id>dashboard_portlet_68</id>
          <name>Unstable Jobs</name>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_69</id>
          <name>Latest builds</name>
          <numBuilds>20</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_70</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_71</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_72</id>
          <name>Compiler warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_73</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>Dashboard</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>