<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zoltan Szabo</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wAadnd:c920f5c8fbc2cff079ae212ba6c98a30218118601721ea2ec029de9a227505f0</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.ApiTokenProperty>
      <apiToken>1tAyB80S/dvM/y1NAlWt+J0fuNh6mrhyLxqL2QSzmieaTo4YgslF9IL/1JVZ/wsc</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.1"/>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.12">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.18">
      <score>58.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>zoltan.szabo@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.9">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.22">
      <jid>zoltan@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@1.5">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.plugins.skype.user.SkypeUserProperty plugin="skype-notifier@1.1.0"/>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.18"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>