<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zoltan Szabo</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wAadnd:c920f5c8fbc2cff079ae212ba6c98a30218118601721ea2ec029de9a227505f0</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.ApiTokenProperty>
      <apiToken>z1x3baaSvXSUwG4DFFNAcf+/VcTNDCso6toth3vjZAqu+iVwLZZjRbkoe9X0P3Wz0NoN7wELP/wOLgIUIaeQzcd1kdnB3KZvrrCCbZQgrLQ=</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.14">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.34">
      <jid>zoltan@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1397463342984</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>zoltan.szabo@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.21">
      <score>181.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
      <scoreHistoryEntries class="linked-list">
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.workflow-www#84</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.indicators-www#103</run>
            <run>www.eea.europa.eu-hudson#99</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.vocab-www#78</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.translations-www#80</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.sparql-www#91</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.tags-www#79</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.soercontent-www#92</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.relations-www#83</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.socialmedia-www#80</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#99</run>
            <run>eea.rdfmarshaller-www#80</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
      </scoreHistoryEntries>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>