<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zoltan Szabo</fullName>
  <description></description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>zoltan.szabo@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wAadnd:c920f5c8fbc2cff079ae212ba6c98a30218118601721ea2ec029de9a227505f0</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>915.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>zoltan@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>szYYokUpK62VdLN8zBnzI+2vWNjp5iagFUiutHicImNv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty/>
  </properties>
</user>