<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ichim.david</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>9/XUJ28Ryfz2udXZwVF2ljy9KTflcO66Qjbfm+0/wVxv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty/>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>31.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ichim.david@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.ircbot.IrcUserProperty/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>