<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Products.Reportek docs</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty plugin="PrioritySorter@2.6">
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.23"/>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.23"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/eea/Products.Reportek.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>4 0 * * 0</spec>
    </hudson.triggers.TimerTrigger>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.8">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.shiningpanda.builders.VirtualenvBuilder plugin="shiningpanda@0.20">
      <pythonName>python2.7</pythonName>
      <home>reportek</home>
      <clear>true</clear>
      <useDistribute>false</useDistribute>
      <systemSitePackages>false</systemSitePackages>
      <nature>shell</nature>
      <command>if [ ! -d sphinx ]; then
 git clone https://github.com/eea/bdr.zopebuildout.git sphinx
 cd sphinx
 curl -O http://downloads.buildout.org/2/bootstrap.py
 $PYTHON_EXE bootstrap.py
 cp secret.cfg.sample secret.cfg
 sed -i -e&apos;s/DOCS_PATH =.*$/DOCS_PATH =\/var\/local\/Reportek-docs-html/&apos; secret.cfg
 ./bin/buildout -c sphinx.cfg
else
 cd sphinx/src/Products.Reportek
 git pull
fi
</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.VirtualenvBuilder>
    <hudson.tasks.Shell>
      <command>./sphinx/bin/clean-docs</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./sphinx/bin/make-docs</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="chucknorris@0.5">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.Mailer plugin="mailer@1.8">
      <recipients>reportek@eaudeweb.ro</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>