<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Bogdan Ciobanu</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty/>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>1.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>GHNOln:9e07f408d3d983b7015f202b277b0549724c78b6edda84219b3bc1f3ef558e04</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bogdan.ciobanu@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>