<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Antonio De Marinis</fullName>
  <description>EEA Web Manager and System Architect</description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>demarinis@eea.europa.eu</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wAUpox:0b8dfb4cda8c21b2a270a995534ac9793e9426e5ee96c0fe89edc40bbbb050c4</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
        <maps.hudson.plugin.xfpanel.XFPanelView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>eXtreme Feedback</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>eea-buildout-pre-production</string>
          </jobNames>
          <jobFilters/>
          <columns/>
          <colors>
            <okBG>#7E7EFF</okBG>
            <okFG>#FFFFFF</okFG>
            <failedBG>#FFC130</failedBG>
            <failedFG>#FFFFFF</failedFG>
            <brokenBG>#FF0000</brokenBG>
            <brokenFG>#FFFFFF</brokenFG>
            <otherBG>#CCCCCC</otherBG>
            <otherFG>#FFFFFF</otherFG>
          </colors>
          <numColumns>1</numColumns>
          <refresh>3</refresh>
          <fullHD>false</fullHD>
          <showDescription>false</showDescription>
          <showZeroTestCounts>true</showZeroTestCounts>
          <sortDescending>false</sortDescending>
        </maps.hudson.plugin.xfpanel.XFPanelView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>914.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>marinis@jabber.eea.europa.eu</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers>
        <string>https://www.google.com/accounts/o8/id?id=AItOawk_60NZaZ3kBvxJmVl7uvMq_aFohEBOf4E</string>
      </identifiers>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>BZBdcAWUVxH2dwnPi4fA+Stc1U0q5n6sQnoeq6saxsRv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty/>
  </properties>
</user>