<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alin Voinea</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ljNtzH:54e687b9bae7fbc1745b91fb05a75047279c7e44947d08480a6f7ca8e9773d4d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>Alin Voinea</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <hudson.plugins.view.dashboard.Dashboard>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alin Voinea</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>eea.alchemy</string>
            <string>eea.daviz</string>
            <string>eea.design</string>
            <string>eea.faceted.inheritance</string>
            <string>eea.faceted.tool</string>
            <string>eea.faceted.vocabularies</string>
            <string>eea.facetednavigation</string>
            <string>eea.facetednavigation-plone2</string>
            <string>eea.facetednavigation-plone3</string>
            <string>eea.facetednavigation-plone4</string>
            <string>eea.geotags</string>
            <string>eea.geotags-plone2</string>
            <string>eea.geotags-plone3</string>
            <string>eea.google</string>
            <string>eea.relations</string>
            <string>eea.reports</string>
            <string>svn-backup</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <useCssStyle>false</useCssStyle>
          <includeStdJobList>false</includeStdJobList>
          <leftPortletWidth>50%</leftPortletWidth>
          <rightPortletWidth>50%</rightPortletWidth>
          <leftPortlets>
            <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
              <id>dashboard_portlet_18</id>
              <name>Hudson jobs list</name>
            </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
            <hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
              <id>dashboard_portlet_19</id>
              <name>Compiler warnings trend graph (new vs. fixed)</name>
              <width>500</width>
              <height>200</height>
              <dayCountString>30</dayCountString>
            </hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
          </leftPortlets>
          <rightPortlets>
            <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
              <id>dashboard_portlet_20</id>
              <name>Code Coverages</name>
            </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
            <hudson.plugins.view.dashboard.test.TestTrendChart>
              <id>dashboard_portlet_21</id>
              <name>Test Trend Chart</name>
              <graphWidth>300</graphWidth>
              <graphHeight>220</graphHeight>
              <dateRange>0</dateRange>
            </hudson.plugins.view.dashboard.test.TestTrendChart>
            <hudson.plugins.view.dashboard.test.TestStatisticsChart>
              <id>dashboard_portlet_22</id>
              <name>Test Statistics Chart</name>
            </hudson.plugins.view.dashboard.test.TestStatisticsChart>
          </rightPortlets>
          <topPortlets/>
          <bottomPortlets/>
        </hudson.plugins.view.dashboard.Dashboard>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>436.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>alin@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers>
        <string>http://alin-voinea.myopenid.com/</string>
        <string>https://me.yahoo.com/a/nJrsqGp.rsJD6YgQNiahT5FRuY3DVeAHrg--</string>
        <string>https://www.google.com/accounts/o8/id?id=AItOawnuAwagvZpGks2ev-l-ZzF5oMs9swbCPKY</string>
      </identifiers>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>LP2BKfE+yt8NQRryV1iNe6BUgXw8hvFfIqj9biEUDwlv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alin.voinea@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>