<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alin Voinea</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>xlWxke:679bf111cffbd9dfbe19f0e57864d594e8a1025ccd600bfedc2d177c501e9be2</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
        <hudson.plugins.view.dashboard.Dashboard>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alin Voinea</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>eea-buildout</string>
            <string>eea.daviz</string>
            <string>eea.design</string>
            <string>eea.faceted.inheritance</string>
            <string>eea.faceted.tool</string>
            <string>eea.faceted.vocabularies</string>
            <string>eea.facetednavigation</string>
            <string>eea.facetednavigation-plone2</string>
            <string>eea.facetednavigation-plone3</string>
            <string>eea.facetednavigation-plone4</string>
            <string>eea.geotags</string>
            <string>eea.geotags-plone2</string>
            <string>eea.geotags-plone3</string>
            <string>eea.google</string>
            <string>eea.relations</string>
            <string>eea.reports</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <useCssStyle>false</useCssStyle>
          <includeStdJobList>false</includeStdJobList>
          <leftPortletWidth>50%</leftPortletWidth>
          <rightPortletWidth>50%</rightPortletWidth>
          <leftPortlets/>
          <rightPortlets/>
          <topPortlets>
            <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
              <id>dashboard_portlet_34</id>
              <name>Unstable Jobs</name>
            </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          </topPortlets>
          <bottomPortlets>
            <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
              <id>dashboard_portlet_35</id>
              <name>Hudson jobs list</name>
            </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          </bottomPortlets>
        </hudson.plugins.view.dashboard.Dashboard>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alin.voinea@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>alin@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.ircbot.IrcUserProperty>
      <nick>voineali</nick>
    </hudson.plugins.ircbot.IrcUserProperty>
  </properties>
</user>