<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tiberiu Ichim</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>glWOhG:7a562bc9994d4574df9146f5b748273a282a852294f51cf5c9732fb4144bdbaf</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>tiberiu.ichim@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>tiberiu@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>88.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>