<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>skaeser</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>YNiJg9EBy1aLrjaJf8CUo0TrCdSTZk0EOv4tDjRIco5v/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.1"/>
    <hudson.tasks.Mailer_-UserProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.9">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.18"/>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.22"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@1.5">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.plugins.skype.user.SkypeUserProperty plugin="skype-notifier@1.1.0"/>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.18">
      <score>0.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>