<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>lucas</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Gno++OxiWnlKoiDFPsRSaW6wPvGCZjCjmPCrD9T0wkjHdZHZwdymb66wgm2UIKy0</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11"/>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.34"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1435743440621</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.21">
      <score>223.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
      <scoreHistoryEntries class="linked-list">
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>Products.EEAPloneAdmin-www#136</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>Products.EEAPloneAdmin-www#135</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.design-www#206</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.design-www#203</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.dataservice-www#104</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#105</run>
            <run>eea.themecentre-www#93</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#105</run>
            <run>eea.workflow-www#90</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>eea.indicators-www#113</run>
            <run>www.eea.europa.eu-hudson#105</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#105</run>
            <run>eea.vocab-www#84</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>www.eea.europa.eu-hudson#105</run>
            <run>eea.translations-www#86</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
      </scoreHistoryEntries>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>