<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Enriko Käsper</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty/>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>196.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>DQUOxU:b3b158ef86c7f0397341e9420cbd717c1aa01fe5005fdd2757c39e75f936cd28</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>enriko.kasper@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>EfHDXek55jBxAicGmOiWzn0hSn4yww/0nnUYwlCiiYpv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty/>
  </properties>
</user>