<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Søren Roug</fullName>
  <description>Product Owner for Java applications</description>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>Alle</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>SeGAff:7a55abf0d8cecc9ad193d7ac4e4030ec946ea913e0b67b509b3853ac9203845b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>soren.roug@eea.europa.eu</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>54181.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>