<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Søren Roug</fullName>
  <description>Product Owner for Java applications</description>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>Alle</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.22"/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>SeGAff:7a55abf0d8cecc9ad193d7ac4e4030ec946ea913e0b67b509b3853ac9203845b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>soren.roug@eea.europa.eu</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.18">
      <score>1523.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@1.5">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>G7fBkLlYlqR3wpHrNYKxmkY9E4Y5yTUw/PwXasqHkAFv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.1"/>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.9">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty plugin="skype-notifier@1.1.0"/>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.18"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>