<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>bratucu</fullName>
  <properties>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5"/>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.25"/>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.19">
      <score>46.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@1.6">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>VyJ6/NpJPz+bAs7ALJHQTchJH+OrAywYnRCb+LFO4OaaTo4YgslF9IL/1JVZ/wsc</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.1"/>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.14">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty plugin="skype-notifier@1.1.0"/>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.23"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.4">
      <credentials/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
  </properties>
</user>