<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alexandru Ghica</fullName>
  <description>Software engineer @ Eau de Web, Romania</description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alec.ghica@eaudeweb.ro</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>veefbG:667a59530878e5d84aa681919652a14458a5b07758b51dc306d16dc8d7d1e60f</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.cigame.UserScoreProperty>
      <score>2122.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <hudson.plugins.jabber.user.JabberUserProperty>
      <jid>alec@jabber.eaudeweb.ro</jid>
    </hudson.plugins.jabber.user.JabberUserProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>2wvrT5XZ96sowXqeHejQAUUGxG+USQXMSoLiY0osiFVv/dQSczY0E0jJCtGtZo3w</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty/>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.skype.user.SkypeUserProperty/>
  </properties>
</user>