<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>EEA Testcase build on a clean Plone 4 instance</description>
  <logRotator>
    <daysToKeep>30</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.trac.TracProjectProperty>
      <tracWebsite>http://svn.eionet.europa.eu/projects/Zope/</tracWebsite>
    </hudson.plugins.trac.TracProjectProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.testcase/buildouts/plone4</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.plugins.trac.TracRepositoryBrowser"/>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>@hourly</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}
./install.sh
bin/buildout</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}
bin/test -v -vv -s eea.testcase</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.girls.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.girls.CordellWalkerRecorder>
    <hudson.tasks.Mailer>
      <recipients>web30development@localhost</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.cigame.GamePublisher/>
    <hudson.plugins.jabber.im.transport.JabberPublisher>
      <targets>
        <hudson.plugins.im.DefaultIMMessageTarget>
          <value>tiberiu@jabber.eaudeweb.ro</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
      </targets>
      <strategy>FAILURE_AND_FIXED</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
    </hudson.plugins.jabber.im.transport.JabberPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>30</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>