<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Razvan</fullName>
  <description>@ Eau de Web</description>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>/mCLo9uvndpIP5hg1x+jR5IRjlP6HHuoK7dKE84SZy3HdZHZwdymb66wgm2UIKy0</apiToken>
    </jenkins.security.ApiTokenProperty>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.14">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.21">
      <score>173.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
      <scoreHistoryEntries class="linked-list">
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>3.0</score>
          <accountableRuns>
            <run>eea.package-www#42</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>14.0</score>
          <accountableRuns>
            <run>eea.workflow-www#45</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>11.0</score>
          <accountableRuns>
            <run>eea.epub-www#43</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>42.0</score>
          <accountableRuns>
            <run>eea.exhibit-www#40</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>21.0</score>
          <accountableRuns>
            <run>eea.depiction-www#39</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>7.0</score>
          <accountableRuns>
            <run>eea.uberlisting-www#38</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>19.0</score>
          <accountableRuns>
            <run>eea.relations-www#38</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>5.0</score>
          <accountableRuns>
            <run>eea.forms-www#38</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>14.0</score>
          <accountableRuns>
            <run>eea.progressbar-www#38</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>6.0</score>
          <accountableRuns>
            <run>eea.faceted.vocabularies-www#38</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
      </scoreHistoryEntries>
    </hudson.plugins.cigame.UserScoreProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>razvan3895@yahoo.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.plugins.jabber.user.JabberUserProperty plugin="jabber@1.34"/>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty plugin="openid@2.1.1">
      <identifiers/>
    </hudson.plugins.openid.OpenIdUserProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>